@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Newsreader:opsz,wght@6..72,500&family=Raleway&family=Roboto:wght@300;400&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.inicio-01 {
  height: 31rem;
  background-color: #c0c0c0;
  padding-top: 1rem;
  padding-left: 1rem;
}
.topo_01 {
  display: flex;
}
.topo_img img {
  padding-right: 0.5rem;
  width: 7rem;
  height: 2rem;
  border-right: 2px solid #808080;
}
.topo_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  padding-right: 56rem;
  padding-left: 0.5rem;
  margin-top: -0.5rem;
  width: 18rem;
  height: 1.5rem;
}
.topo_02 {
  display: flex;
  padding-left: 19rem;
  width: 50vw;
  height: 60vw;
  padding-top: 3rem;
}
.topo_02_img img {
  width: 20vw;
  height: 30vw;
}
.topo_02_text {
  padding-top: 2.5rem;
}
.topo_02_text h3 {
  font-family: "Robosto", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-weight: 700;
  color: #4169e1;
}
.topo_02_text h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-weight: bold;
  font-size: 30px;
  padding-right: 5rem;
  letter-spacing: 1px;
}
.topo_02_text p {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding-right: 6rem;
}
.topo_02_text button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #b22222;
  border-radius: 17px;
  background-color: #b22222;
  width: 8rem;
  height: 2rem;
  margin-top: 1rem;
  letter-spacing: 0.5px;
}
.meio_01 {
  font-family: "Roboto", sans-serif;
  margin-left: 12rem;
  margin-right: 12rem;
  margin-bottom: 1rem;
}
.meio_01 h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-weight: 700;
  text-align: center;
  margin-left: 13rem;
  margin-right: 13rem;
  margin-top: 3rem;
}
.meio_01 p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-left: 12rem;
  margin-right: 10rem;
  padding-top: 0.5rem;
}
.meio_01 ul {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 900;
  font-weight: bolder;
  color: #4169e1;
  text-align: center;
}
.meio_01 li {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding-top: 0.5rem;
  margin-left: 20rem;
  margin-right: 10rem;
}
.meio_02 {
  margin-top: 3rem;
  padding: 2rem;
  background: linear-gradient(
    90deg,
    rgba(37, 108, 200, 0.561) 3%,
    rgb(90, 16, 237) 49%,
    rgb(33, 25, 171) 100%
  );
  height: 10rem;
}
.meio_02 h3 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 800;
  color: #ffffff;
  font-weight: bolder;
  text-align: center;
  margin-top: 4rem;
}
.formulario_01 {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  box-shadow: 3px 3px 3px 3px #808080;
  margin-left: 25rem;
  margin-top: -2rem;
  margin-right: 25rem;
  font-family: "Roboto", sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  border-top: 6px solid #1f52c5;
}
.formulario_01 {
  display: block;
  position: relative;
}
.formulario_01 label {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-weight: bolder;
}
.formulario_01 label {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}
.formulario_01 select {
  background-color: #c0c0c0;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-weight: bolder;
  width: 30rem;
  height: 1.5rem;
  border-radius: 3px;
}
.formulario_01 p {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}
.formulario_01 input {
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  width: 30rem;
  height: 1.5rem;
}
.formulario_01 .input_08 {
  width: 0.5rem;
  height: 0.5rem;
}
.formulario_01 button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #b22222;
  border-radius: 17px;
  background-color: #b22222;
  width: 5.5rem;
  height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
  align-items: center;
  margin-left: 12rem;
}
.body_01 {
  display: flex;
  background-color: #0c0909b1;
  font-family: "Roboto", sans-serif;
  padding-left: 16rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.body_01 h4 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}
.body_01 a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  color: #ffffff;
}
.body_a {
  padding-left: 1rem;
  padding-right: 1rem;
}
.body_b {
  padding-left: 1rem;
  padding-right: 1rem;
}
.body_c {
  padding-left: 1rem;
  padding-right: 1rem;
}
.body_d {
  padding-left: 1rem;
  padding-right: 1rem;
}
.body_e {
  padding-left: 1rem;
  padding-right: 1rem;
}
.barra_01 {
  display: flex;
  background-color: #0c0909b1;
}
.barra_a {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 8px;
  font-weight: 400;
  color: #ffffff;
  margin-left: 17rem;
  margin-right: 12rem;
}
.barra_b {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 9px;
  font-weight: 600;
  color: #ffffff;
  margin-right: 10rem;
  text-align: center;
}
.pagina_03 {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-weight: 400;
  font-size: 8px;
}
.barra_c {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 8px;
  font-weight: 400;
  color: #ffffff;
}
