@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Newsreader:opsz,wght@6..72,500&family=Raleway&family=Roboto:wght@300;400&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.inicio-01 {
  height: 31rem;
  background-color: #c0c0c0;
  padding-top: 1rem;
  padding-left: 1rem;
}
.topo_01 {
  display: flex;
}
.topo_img img {
  padding-right: 0.5rem;
  width: 7rem;
  height: 2rem;
  border-right: 2px solid #808080;
}
.topo_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  padding-right: 56rem;
  padding-left: 0.5rem;
  margin-top: -0.5rem;
  width: 18rem;
  height: 1.5rem;
}
.topo_02 {
  display: flex;
  padding-left: 19rem;
  width: 50vw;
  height: 60vw;
  padding-top: 3rem;
}
.topo_02_img img {
  width: 20vw;
  height: 30vw;
}
.topo_02_text {
  padding-top: 2.5rem;
}
.topo_02_text h3 {
  font-family: "Robosto", sans-serif;
  text-transform: uppercase;
  color: #4169e1;
}
.topo_02_text h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-weight: bold;
  font-size: 30px;
  padding-right: 5rem;
  letter-spacing: 1px;
}
.topo_02_text p {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding-right: 6rem;
}
.topo_02_text button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #b22222;
  border-radius: 17px;
  background-color: #b22222;
  width: 8rem;
  height: 2rem;
  margin-top: 1rem;
  letter-spacing: 0.5px;
}
.meio_01 {
  font-family: "Roboto", sans-serif;
  margin-left: 12rem;
  margin-right: 12rem;
}
.meio_01 h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-weight: 700;
  text-align: center;
  margin-left: 13rem;
  margin-right: 13rem;
  margin-top: 3rem;
}
.meio_01 p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-left: 12rem;
  margin-right: 10rem;
  padding-top: 0.5rem;
}
.meio_01 ul {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-weight: bolder;
  color: #4169e1;
  text-align: center;
}
.meio_01 li {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding-top: 0.5rem;
  margin-left: 20rem;
  margin-right: 10rem;
}
.formulario_01 {
  border: 2px solid #ffffff;
  box-shadow: 3px 3px 3px 3px #808080;
  margin-left: 25rem;
  margin-top: 2rem;
  margin-right: 25rem;
  font-family: "Roboto", sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
.formulario_01 label {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.formulario_01 label {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}
.formulario_01 select {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-weight: bolder;
  width: 32rem;
  height: 1.5rem;
}
.formulario_01 p {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}
